*
{
    margin: 5vh;
    padding: 0;
    box-sizing: border-box;    
}

body
{
    background: #9D7DB7;
    font-family: 'Lalezar', cursive;    
}

#pfp
{    
    border-radius: 20vw;
    border: 5px solid #714890;
}

.head-container 
{
    display: flex;
}

.head-container p
{
    flex-direction: column;
    color: white;
    padding: 95px 0;
    font-size: 30px;
}

p

.head-container #container
{

}